
.ctaButton {
    background-color: #2C3B90; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #2C3B90;
  }
  